html, body {
    height: 100%;
    margin: 0;
    font: 20px sans-serif;
    color: #777;
  }
  
  .menuPrincipal li {
      display: inline;
      padding: 2px 7px 7px 7px;
      color: #060000;
      font-family: 'cursive';
  }
  .menuPrincipal a{
    text-decoration: none;
    color: black;
    background-color: #F8F9F9 ;
    border-radius: 10px;
    padding: 2px 7px 7px 7px;
  }
  
  
  .menuPrincipal li a:hover{
      background-color: skyblue;
      color: grey;
      border-radius: 10px;
  
  }
  
  .menuPrincipal ul{
    list-style-type: none;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .fondo1, .fondo2 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .fondo1 {
    background-image: url("../img/recomendacionfondo.jpg");
    min-height: 100%;
    opacity: 0.8;
  }
  
  .fondo2 {
    background-image: url("../img/recomendacionfondo.jpg");
    min-height: 400px;
    opacity: 0.8;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 65%;
    width: 100%;
    text-align: center;
  }
  
  .caption span.border a {
    text-decoration: none;
    background-color: #111;
    color: #fff;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 10px;
    border-radius: 5px;
  }
  
  div.bloquetexto {
    color:black; 
    background: linear-gradient(to right, white, skyblue);
    padding:100px 200px;
    text-align: justify;
    height: 350px;
  }

  .listas {
    margin-left: 15%;
    float: left;
    width: 25%;
  }

  .consejos{
    margin-left: 15%;
    float: left;
    width: 25%;
  }
  .consejo{
    margin-left: 15%;
    float: left;
    width: 85%
  }
  
  form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #5D6D7E;
    border-radius: 10px;
  }
  
 ul {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    font: 17px italic;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 50px;
  }
  
  .boton {
    padding-left: 100px;
  }
  
  button {
    margin-left: 2%;
  }
  
  @media only screen and (max-width: 1000px) {
    .fondo1, .fondo2 {
      background-attachment: scroll;
    }
  }